<div class="bs-sidebar nav-menu" id="sideNav">
    <ul class="nav bs-sidenav">
        {% for toc_item in page.toc %}
        <li class="toc-level-0">
            <div data-toggle="collapse" data-target="collapse-level-1">
                <a href="{{ toc_item.url }}">{{ toc_item.title }}</a>
            </div>
            {% if toc_item.children %}
            <ul id="collapse-level-1" class="collapse">
                {% for toc_lv1 in toc_item.children %}
                <li class="toc-level-1" class="collapse">
                    <div data-toggle="collapse" data-target="collapse-level-2">
                        <a href="{{ toc_lv1.url }}">{{ toc_lv1.title }}</a>
                    </div>
                    {% if toc_lv1.children %}
                    <ul id="collapse-level-2" class="collapse">
                        {% for toc_lv2 in toc_lv1.children %}
                        <li class="toc-level-2">
                            <div data-toggle="collapse" data-target="collapse-level-3">
                                <a href="{{ toc_lv2.url }}">{{ toc_lv2.title }}</a>
                            </div>
                            {% if toc_lv2.children %}
                            <ul id="collapse-level-3" class="collapse">
                                {% for toc_lv3 in toc_lv2.children %}
                                <li class="toc-level-3">
                                    <a href="{{ toc_lv3.url }}">{{ toc_lv3.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>